<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel ="stylesheet" href="/styles/login.css">
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="menu-icon">
        <img src="/images/icons8-popcorn-48.png" class="Popcorn_image">
        <div>
          Cine<br>
          São Carlos
        </div>
      </div>
        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/enderecoecontato">Cinema </a><img src="/images/down-arrow.svg"></li>
          <li><a href="/filmes">Filmes</a></li>
          <li><a href="/combos">Combos</a></li>
      </ul>
      <a id="login-link" href="/login">
      <div class="login">
        <span id="login-text">Entrar</span>
        <img src="/images/Vector.svg" id="login-icon">
      </div>
    </a>    
    </header>

    <div class="login-container">
      <h3 class="login-text">Login</h3>

      <div class="social-login">
        <button id="fb">
          <img src="/images/fb-logo.png" alt="login-facebook" />
          Entre com o Facebook
        </button>
        <button id="google">
          <img src="/images/google-logo.png" alt="login-google" />
          Entre com o Google
        </button>
        <img src="/images/or-divider.png" alt="or divider" />
      </div>

      <div class="input-login">
        <h3>Acesse com login e senha</h3>
        <form action="" method="post">
          <label for="email">E-mail<br />
            <input type="email" name="email" id="email" />
          </label>

          <div class="password">
            <label for="password">Senha<br />
              <input type="password" name="password" id="password" />
            </label>
            <button id="forgot-pass">Esqueceu?</button>
          </div>

          <div class="recaptcha">
            <input type="checkbox" name="recaptcha" id="recaptcha" />
            <p>Não sou um robô</p>
            <img src="/images/recaptcha.png" alt="recaptcha" />
          </div>

          <button id="login-btn" type="submit">Efetuar login</button>
        </form>
      </div>
    </div>

    <footer>
      <div class="footer">
        Acompanhe nossas redes! 
        <div class="social-media">
          <a href="https://www.instagram.com" target="_blank">
            <img src="/images/Instagram.png" alt="Instagram">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img src="/images/Facebook.png" alt="Facebook">
          </a>
          <a href="https://twitter.com" target="_blank">
            <img src="/images/X Coordinate.png" alt="X">
          </a>
        </div>
      </div>
    </footer>

    <script src="../js/login.js"></script>
    <!-- <script src="../js/check_login.js"></script> -->
  </body>
</html>
